@use "../../variables" as *;

.overlay.expandable {
    display: flex;
    justify-content: right;
    width: 100%;

    .content {
        background-color: $white;
        width: 40%;
        padding: 2.5rem 3rem;

        .header {
            display: flex;
            justify-content: space-between;

            .title {
                color: $primary
            }
        }

        .expanded-data {
            margin-top: 1rem;
            overflow-y: auto;
            height: 90%;

            p {
                margin-top: 0;
            }
        }
    }
}
