@use "../variables" as *;

.close-button {
    margin: 0;
    padding: .5rem;
    border: none;
    background: 0;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;

    .line {
        width: 1rem;
        height: .15rem;
        background-color: #000000;

        &:first-child {
            transform: rotate(45deg) translate(-1px, 5.5px);
        }

        &:last-child {
            transform: rotate(-45deg) translate(-4px, -3px);
        }
    }
}

.hellip {
    display: inline-flex;
    gap: 2px;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    div {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #000000;
    }
}

.arrow-wrapper {
    cursor: pointer;

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;

        &.right {
            transform: rotate(-45deg);
        }

        &.left {
            transform: rotate(135deg);
        }

        &.up {
            transform: rotate(-135deg) translate(-1.5px, -1.5px);
        }

        &.down {
            transform: rotate(45deg) translate(-1.5px, -1.5px);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-primary {
    background-color: $primary;
    color: $white;
}

.bg-primary-light {
   background-color: $primary-200;
   color: $primary;
}

.bg-primary-dark {
    background-color: $primary-hover;
    color: $white;
}

.bg-success {
    background-color: $success;
    color: $white;
}

.bg-success-light {
    background-color: $success-light;
    color: $success-dark;
}

.bg-success-dark {
    background-color: $success-dark;
    color: $white;
}

.bg-danger {
    background-color: $danger;
    color: $white;
}

.bg-danger-light {
    background-color: $danger-light;
    color: $danger-dark;
}

.bg-danger-dark {
    background-color: $danger-dark;
    color: $white;
}

.bg-warning {
    background-color: $warning;
    color: $white;
}

.bg-warning-light {
    background-color: $warning-light;
    color: $warning-dark;
}

.bg-warning-dark {
    background-color: $warning-dark;
    color: $white;
}

.text-primary {
    color: $primary;
}

.text-success {
    color: $success;
}

.text-danger {
    color: $danger;
}

.text-warning {
    color: $warning;
}