$primary: #4360EE;
$primary-hover: #2C4DBA;
$primary-300: #C2C8FF;
$primary-light: #DDE1FF;
$primary-extra-light: #E9EDFB;
$background: #EBEEFE;
$background-light: #F5F5F7;
$font: #010722;
$font-secondary: #00146F;
$font-light: #4F5059;
$border: #DEDFE0;
$border-focus: #4360EE;
$grey: #CECED2;
$light-grey: #E6E6E8;
$extra-light-gray: #F2F2F3;
$white: #FFFFFF;


$success: #43BF52;
$success-light: #CFFBD4;
$success-dark: #00A42C;
$error: #FF495C;
$error-light: #FFE9F0;
$error-dark: #EE2642;
$warning: #FFB400;
$warning-light: #FFF8E0;
$warning-dark: #FDA000;