@use "../variables" as *;

.pj-badge {
    display: inline-flex;
    align-items: center;
    padding: .2rem .625rem;
    border-radius: 999px;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.4;
    background-color: $gray-100;
    color: $font-light;

    &.success {
        background-color: $success-light;
        color: $success-dark;
    }

    &.danger {
        background-color: $danger-light;
        color: $danger-dark;
    }

    &.warning {
        background-color: $warning-light;
        color: $warning-dark;
    }

    &.info {
        background-color: $primary-100;
        color: $info-dark;
    }
}
